.button {
    border: 1px solid $primary-shade;
    border-radius: 8px;
    background-color: #fff;
    height: 48px;
    padding: 11px 24px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    transition: background-color 0.08s;

    &:hover {
        background-color: $primary-shade100;
    }

    &:active {
        background-color:#e5e0fc;;
    }

    &_dark-text {
        color: $primary;
    }

    &_dark {
        background-color: $primary;
        color: #FFFFFF;
        border: none;

        &:hover {
            background-color: #4b30d1;
        }

        &:active {
            background-color: #442cba;
        }
    }

    &_light {
        color: $primary;
    }
}