.dashboard {
    position: relative;
    background: linear-gradient(0deg, #FFFFFF -10.28%, #EFEDFD 63.13%, #FFFFFF 100%);

    &__background-image {
        position: absolute;
        top: 216px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    &__illustration {
        margin-top: 64px;
    }

    &__lines {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        top: 0;
    }

    .container {
        position: relative;
        padding: 100px 160px 0;
        z-index: 3;
    }

    .headline {
        text-align: center;
    }
}