@font-face {
    font-family: "Aeonik";
    src: url("./fonts/Aeonik-Medium.woff2") format("woff2"),
         url("./fonts/Aeonik-Medium.ttf") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Aeonik";
    src: url("./fonts/Aeonik-Regular.woff2") format("woff2"),
         url("./fonts/Aeonik-Regular.ttf") format("woff");
    font-weight: 400;
}
   