.header {
    position: absolute;
    top: 0;
    width: 100%;

    .container {
        height: 96px;
        padding: 24px 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 3;
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }

    &__nav-item.active {
        .header{
            &__subnav {
                opacity: 1;
                transform: scale(100%);
                visibility: visible;

                &-arrow {
                    transform: rotate(180deg);
                }
            }

            &__nav {
                &-item {
                    &-background {
                        opacity: 0.1;
                        transform: translateX(-50%) scale(100%);
                        visibility: visible;
                        height: 324px;
                    }
                }
            }
        }
    }

    &__subnav {
        position: absolute;
        left: -89px;
        top: 45px;
        padding: 32px 88px 32px 32px;
        width: 256px;
        height: 276px;
        font-weight: 500;
        background: #FFFFFF;
        border-radius: 8px;
        transform-origin: 50% 0;

        overflow: hidden;
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
        transition: all ease-out 0.1s;

        &-items {
            display: flex;
            flex-direction: column;
            gap: 24px;
            z-index: 1;
        }

        &-arrow {
            transition: all 0.1s;
        }

        span {
            color: $neutral400;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            margin-bottom: 24px;
            display: block;
        }

        &-item>a {
            display: flex;
            gap: 16px;
            font-size: 14px;
            line-height: 145%;
            color: $neutral900;
        }

        &-arrow {
            margin-left: 8px;
        }
    }

    &__nav {
        margin-left: 43.5px;

        &-item {
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 145%;

            &-background {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 50%;
                width: 352px;
                height: 324px;
                background: linear-gradient(180deg, rgba(10, 17, 47, 0.2) 0%, #0A112F 100%);
                opacity: 0.1;
                filter: blur(100px);

                overflow: hidden;
                opacity: 0;
                height: 0;
                transform: translateX(-50%) scale(0);
                visibility: hidden;
                transition: all ease-out 0.1s;
            }
    
            a {
                display: flex;
                align-items: center;
                width: fit-content;
                transition: color 0.08s;

                &:hover {
                    color: $primary;
                }
            }
        }
    
        &-items {
            display: flex;
            gap: 40px;
        }
    }

    &__logo {
        width: 160px;
        height: 32px;
    }
}