.promo {
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 10.72%, #F7F6FE 93.03%);
    box-shadow: 0px 4px 200px rgba(232, 249, 247, 0.2);
    overflow: hidden;

    .container {
        padding: 160px 160px 80px 160px;
        display: flex;
        justify-content: space-between;
        column-gap: 118px;
        row-gap: 80px;
        justify-content: center;
        position: relative;
        z-index: 2;
    }

    &__numbers {
        position: relative;
        width: 100%;
        z-index: 2;
        background: #FFFFFF;

        .container {
            padding: 48px 0;
            display: flex;
            justify-content: center;
            gap: 32px;
        }

        &-item {
            display: grid;
            grid-template: 56px 28px / 352px;
            text-align: center;
            column-gap: 32px;

            &:nth-of-type(2) {
                display: grid;
                grid-template: 56px 28px / 70px 81px;
                column-gap: 8px;
                justify-content: center;

                div {
                    width: 81px;
                    height: 24px;
                    background-color: $secondary;
                    border-radius: 24px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 135%;
                    letter-spacing: 0.005em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                }

                span {
                    grid-area: 2 / 1 / 3 / 3;
                }
            }

            p {
                font-weight: 500;
                font-size: 40px;
                line-height: 140%;
                text-align: center;
                letter-spacing: -0.01em;
                margin: 0;
            }

            span {
                margin-top: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 145%;
                color: $neutral500;
            }
        }
    }

    &__lines {
        position: absolute;
        top: 96px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }

    form {
        margin-top: 48px;
        display: flex;
        gap: 16px;
    }

    &__headline {
        h1 {
            font-weight: 500;
            font-size: 64px;
            line-height: 110%;
            letter-spacing: -0.01em;
            margin-top: 24px;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $primary;

            &.promo__description {
                font-weight: 400;
                font-size: 18px;
                line-height: 155%;
                text-transform: unset;
                color: $neutral500;
                margin-top: 32px;
                margin-bottom: 0;
            }
        }
    }
}